* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
    url("../images/taj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
    margin-right: 20px;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 30px;
    text-decoration: none;
    padding: 20px 30px 20px 30px;


}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

#navbar ul li input[type=text]{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    padding: 5px 10px;
    border: none;
    padding-left: 5px;
}

#navbar ul li button{
    background-color: black;
    color: #f2f2f2;
    align-items: center;
    width: auto;
    height: 36px;
    border-radius: 25px;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    position: center;
}

nav {
  width: 100%;
  height: 15vh;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

nav .logo {
  width: 25%;
  text-align: center;
}

nav .menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav .menu a {
  width: 25%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav .menu a:first-child {
  color: #00b894;
}

main {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

section h3 {
  font-size: 35px;
  font-weight: 200;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}

section h1 {
  margin: 30px 0 20px 0;
  font-size: 55px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
}

section p {
  font-size: 25px;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
}

section a {
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

section .btnone {
  background: #fff;
  color: #000;
}

.btnone:hover {
  background: #00b894;
  color: white;
}

section .btntwo {
  background: #00b894;
  color: white;
}

.btntwo:hover {
  background: #fff;
  color: #000;
}


footer{
  background: black;
  color: white;
  padding: 9px 20px;
}


.center{
  text-align: center;
} 






#foot {
  background-color:/* #141414*//*#151C22*//*#242627*//*#151C22*/#000;
  height: 300x;
  width: 100%;
  padding: 50px;
  display: flex;
}
#about {
  /* width: 80%px; */
  margin-left: 25px;
  /* margin-right: 200px; */
}
#foot #h1 {
  padding-top: 30px;
  text-align: center;
  color: white;
  font-size: 30px;
  /* margin-bottom: 20px; */
}
#foot p {
  padding: 10px;
  font-size: 20px;
  color:/*#a3a3a3*/#7a7a7a;
}
#contact {
  margin-left: 100px;
  width: 40%;
  padding-top: 20px;
}
#foot #h3 {
  color: white;
}
#bion {
  padding-right: 10px;
  color: #7a7a7a;
}
